@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimDunggeunmisoTTF-R.woff2') format('woff2');
    font-weight: 1000;
    font-style: normal;
}

body {
  font-family: 'Jalnan';
}

